body {
  font-family: 'Helvetica Neue';
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
}
.base {
  border: 1px solid blue;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  background: linear-gradient(to right,#5170ff,#ff66c4);
}
.nav a {
  text-decoration: none;
  color: whitesmoke;
  padding-top: 15px;
}

a.nav-link:hover{
  color: black;
}
a.active{
  color: black;   
}
.base{
  /* border-right: 5px solid #ffc107; */
  background: linear-gradient(to bottom, #FCC978, #FA00FF);
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.my_data_cls th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.my_data_cls td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
textarea {
  box-sizing: border-box;
  border: 2px solid transparent;
  border-image:linear-gradient(to right,#ff66c4,#5170ff) 1;
  border-radius: 4px;
  background-color: #f8f8f8;
}
textarea:focus {
  outline: none;
  border: 2px solid transparent;
  border-image:linear-gradient(to right,#5170ff,#ff66c4) 1;
  border-radius: 4px;
}
/* Style the select element */
#emotion{
  text-align: center;
  padding: 5px;
  font-size:20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #05c60b92;
  width: 140px;
}

/* Style the options */
#emotion option {
  background-color: #fff;
  color: #333;
}

/* Style the select element on hover */
#emotion:hover {
  border-color: #999;
}

/* Style the options on hover */
#emotion option:hover {
  background-color: #05c60b92;
}

.btn_style{
  color: white;
  border-radius: 15px;
  color: white;
  background: linear-gradient(to right,#5170ff,#ff66c4);
}

.btn_style:hover{
  font-weight: bold;
  transform: scale(1.01);
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.my_data_cls{
  padding:2px;
  border:2px solid #dddddd;
}

#predict{
color: white;
border-radius: 15px;
color: white;
background: linear-gradient(to right,#5170ff,#ff66c4);
}
#predict:hover{
font-weight: bold;
transform: scale(1.01);
}

#toggleButton{
color: white;
border-radius: 15px;
color: white;
background: linear-gradient(to right,#5170ff,#ff66c4);
}
#toggleButton:hover{
font-weight: bold;
transform: scale(1.01);
}

/* Style the select element */
#id_query{
padding: 5px;
font-size:20px;
border: 1px solid #ccc;
border-radius: 15px;
background-color: #05c60b92;
width: 150px;
}

/* Style the options */
#id_query option {
text-align: left;
background-color: #fff;
color: #333;
}

#id_dataset{
padding: 5px;
font-size:20px;
border: 1px solid #ccc;
border-radius: 15px;
background-color: #05c60b92;
width: 180px;
}

/* Style the options */
#id_dataset option {
text-align: left;
background-color: #fff;
color: #333;
}
